@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Black.woff2') format('woff2'),
		url('../fonts/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black.ttf') format('truetype'),
		url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', Arial, sans-serif;
}
header {
    width: 100%;
    height: 40px;
    background-color: black;
}
h1 {
    text-transform: uppercase;
    font-size: 32px;
}
h2 {
	font-size: 26px;
	text-transform: uppercase;
	color: #575757;
}
h3 {
	font-size: 16px;
}
button {
    width: 260px;
    height: 50px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background-color: rgb(39,199,171);
    border: rgb(39,199,171);
    border-radius: 10px;
    color: white;

}
.container {
    width: 1050px;
    margin: 0 auto;
    padding: 0 0px;
}
.clearfix::after, .clearfix::before {
  content: "";
  display: table;
  clear: both;
}
.logo {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    float: left;
}
.green-bold {
    color: rgb(39,199,171);
    font-weight: bold;
}
#menu {
    text-transform: uppercase;
    color: white;
	line-height: 40px;
}
#menu li  {
	font-size: 16px;
	list-style: none;
	float: right;
	padding-left: 50px;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li
{
    display: block;
    position: relative;
    float: left;
}

li ul
{
    display: none;
}

ul li a
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 0 15px 0 15px;
}

li ul li a
{
	text-transform: none;
	width: 125px;
	position: relative;
	left: -60px;
	top: 10px;
}

li:hover ul
{
    display: block;
    position: absolute;
}

li:hover li
{
    float: none;
    font-size: 11px;
}

li:hover a
{
    background: black;
}

.background-gradient {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 81%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
#slider {
    height: 500px;
    padding: 125px;
}
#sign-left {
    font-size: 80px;
    color: rgb(39,199,171);
	float: left;
	position: relative;
	bottom: -100px;
}
#sign-right {
    font-size: 80px;
    color: rgb(39,199,171);
	float: right;
	position: relative;
	bottom: -100px;
}

.img-slider {
    width: 470px;
    float: left;
}
.text-slider {
    width: 470px;
    text-align: center;
    float: left;
    padding: 50px 50px 50px 0;
}
.text-slider>p {
    margin: 25px 0;
}
#chairs {
	height: 350px;
}
.img-box{
	width: 330px;
	height: 225px;
	float: left;
	border: 1px solid #dcdcdc;
	position: relative;
}
.text-box {
	width: 330px;
	float: left;
	height: 255px;
	border: 1px solid #dcdcdc;
	padding: 30px 20px;
	font-size: 14px;
	line-height: 20px;
}
.text-box>p{
	color: grey;
}
#chairs>div>div {
	margin-top: 30px;
	margin-right: 30px;
}
#chairs>div>div:last-child {
	margin-right: 0px;
	margin-bottom: 70px;
}
#prices {
	height: 725px;
	background-color: #f1f1f1;
	padding: 50px 0 70px 0;
}
footer {
	height: 650px;
}
.opacity {
	width: 330px;
	height: 60px;
	background-color: white;
	opacity: .6;
	position: absolute;
	bottom: 15px;
	padding: 15px 0 0 15px;
}
.green-line {
	width: 140px;
	height: 8px;
	background-color: #27c7ab;
	position: absolute;
}
.green-line-long {
	width: 320px;
	height: 8px;
	background-color: #27c7ab;
	position: absolute;
}
.price-box {
	width: 330px;
	height: 500px;
	border: 2px solid #c2c2c2;
	background-color: #f9f9f9;
	margin-top: 75px;
	position: relative;
	float: left;
	margin-right: 30px;
}
#prices>div>div:last-child {
	margin-right: 0px;
}
.big-round {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid #c2c2c2;
	margin: -35px auto;
}
.small-round {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #c2c2c2;
	position: absolute;
	margin: 13px;
}
.plan-font {
	font-size: 22px;
	text-transform: uppercase;
	color: #27c7ab;
	text-align: center;
	margin-top: 40px;
}
.plan-round {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid #c2c2c2;
	margin: 30px auto 30px auto;
	font-size: 40px;
	font-weight: bold;
	color: #c2c2c2;
	text-align: center;
}
.plan-round>div>p:last-child {
	font-size: 15px;
	font-weight: 400;
}
sup {
	font-size: 14px;
	font-weight: 400;
}
.plan-round>div {
	margin: 25px 0;
}
.white-line {
	width: auto;
	height: 3px;
	background-color: white;
}
.belt-grey {
	width: auto;
	height: 43px;
	background-color: #e4e4e4;
	color: #939393;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
}
.belt-greylight {
	width: auto;
	height: 43px;
	background-color: #f1f1f1;
	color: #787878;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
}
.belt-greywhite {
	width: auto;
	height: 43px;
	background-color: white;
	color: #9e9e9e;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
}
.price-box>button {
	width: 120px;
	height: 34px;
	line-height: 34px;
	font-size: 16px;
	position: absolute;
	left: 110px;
	bottom: 18px;
}

.green-box {
	background-color: #27c7ab;
	border-color: #27c7ab;
}
.green-box>button {
	background-color: white;
	color: #27c7ab;
}
.green-box .plan-font {
	color: white;
}
.green-box .big-round {
	background-color: #27c7ab;
	border-color: #27c7ab;
}
.green-box .small-round {
	background-color: white;
}

footer {
	padding: 35px 0;
	background-color: white;
}

#form-left {
	width: 690px;
	margin-top: 45px;
	float: left;
}

.input-name-email {
	width: 630px;
	height: 65px;
	margin-bottom: 25px;
	padding-left: 10px;
	border: 1px solid #a3e2d7;
	font-size: 30px;
	line-height: 65px;
	color: #e6e6e6;
}

.input-message {
	width: 630px;
	height: 190px;
	margin-bottom: 25px;
	padding-left: 10px;
	border: 1px solid #a3e2d7;
	font-size: 30px;
	line-height: 65px;
	color: #e6e6e6;
	padding-bottom: 125px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e6e6e6;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e6e6e6;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e6e6e6;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e6e6e6;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
}

#form-right {
	width: 360px;
	margin-top: 20px;
	float: left;
}

#form-right>button {
	width: 345px;
	height: 70px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom: -70px;
}
#form-right>img {
	margin-left: 48px;
}

.checkbox {
	appearance: none;
}

#footer-left {
	display: inline-block;
	margin-top: 100px;
	color: #b6b6b6;
	width: 690px;
	margin-bottom: 50px;
}

#footer-left>p {
	font-size: 18px;
	height: 35px;
	line-height: 35px;
}

#footer-right {
	width: 360px;
	margin-top: 100px;
	float: right;
	padding-left: 20px;
}

#footer-right>p {
	float: right;
	height: 35px;
	line-height: 35px;
	text-transform: uppercase;
	color: #b6b6b6;
	font-size: 18px;
}
